
.title-container{
    height: 60vh;
}

.title-hello{
    font-size: 3rem;
    font-weight: 500;
    font-family: 'ZCOOL KuaiLe', cursive;
    color: white;
}

.title-name{
    font-size: 1rem;
    font-weight: 300;
    font-family: 'ZCOOL KuaiLe', cursive;

    position: relative;
    top: 0rem;

    color: white;

}

.title-tag{
  font-size: 1rem;
  font-weight:300;
  font-family: 'ZCOOL KuaiLe', cursive;

  position: relative;;
  top: 0rem;
  color: white;
}

.about-me-container {
  width: 80vw;
  height: 60vh;

  position: relative;
  top: 0rem;


  margin-left: 10vw;

  background-color: white;

}

.about-me-text {
  font-size: 1.2rem;
  font-family: 'ZCOOL KuaiLe', cursive;

  padding-left: 5% !important;
  padding-right: 5%!important;
  color: black;

}

.how-to-sleep-better-container{
  width: 80vw;
  height: 45vh;

  position: relative;
  top: 6rem;


  margin-left: 10vw;

  background-color: white;
}

.title-ending {
      height: 0;
      font-size: 1rem;
      font-weight: 500;
      font-family: 'ZCOOL KuaiLe', cursive;
      color: white;
position: relative;
top: 0rem;



  }
